[Unit]
Description=chorus
After=network-online.target

[Service]
Type=simple
Environment="RUST_BACKTRACE=1"
Environment="RUST_LOG=info"
WorkingDirectory=/opt/chorus
User=chorus
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStartPre=+cp -H /etc/letsencrypt/live/chorus.example.com/fullchain.pem /opt/chorus/etc/tls/
ExecStartPre=+cp -H /etc/letsencrypt/live/chorus.example.com/privkey.pem /opt/chorus/etc/tls/
ExecStartPre=+chown chorus /opt/chorus/etc/tls/fullchain.pem /opt/chorus/etc/tls/privkey.pem
ExecStart=/opt/chorus/sbin/chorus /opt/chorus/etc/chorus.ron
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
